html, body {
    height: 100%;
    margin: 0;
	font-family: Rubik,Arial,sans-serif;
	font-weight: 400;
	font-size: 1rem;
	overflow-x: hidden;
	color: #607289;
  }
.wrapper {
    min-height: 95%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -270px;
}
.footer,
.push {
    height: 270px;
}

h5 {
    font-size: 1rem;
    line-height: 1.375;
  font-family: Rubik,Arial,sans-serif;
    font-weight: 500;
    color: #030929;
}

a {
  color: #818494;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #007bff;
  text-decoration: none;
}

footer {
  background: #ebf4fa;
}
