<!doctype html>
<title><%= title %></title>

<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">

</header>
<body>
    <nav class= "navbar navbar-dark bg-dark nav-link navbar-expand-sm">
        <a href="<%= `/admins/${name}` %>" class="navbar-brand" style="color: #43acdd"><img src="https://cdn.discordapp.com/attachments/779450920932081665/887980584650018816/Logo.png" alt="Veris" width="150" height="50"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand nav-text">Admin</a>
            </li>
            <li class="nav-item">
                <a href="/admin-features/add" class="nav-link">Add equipment</a>
            </li>
            <li class="nav-item">
                <a href="/admin-features/show-history" class="nav-link">Equipment history</a>
            </li>
            <li class="nav-item">
                <a href="/admin-features/manage-accounts" class="nav-link">Account management</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="navbar-brand">
                <a href="/log-out" class="nav-link">Log out</a>
            </li>
        </ul>
    </nav>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
        <div class="wrapper">