<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header>
    <main class="container">
    <nav><a href=<%= `/admins/${name}` %> id="navBar">Overview</a><a href="/admin-features/add" id="navBar">Add equipment</a><a href="/admin-features/modify" id="navBar">Modify equipment</a><a href="/admin-features/remove" id="navBar">Remove equipment</a></nav>
    </main>
</header>
<body>
    <main class="container">