<%- include("studentHeader", {title: title, name: name}); %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <section class="col-sm-12">
<h1 style="margin-left: 30px;">Book <%= results.e_name %></h1>
<form style="margin-left: 1.5%;" method="post" action="/student-booked">
        <div class="form-group">
            <label for="id" style="margin-left: -0.6%;">ID</label>
            <input id="id" class= "form-control" type="text" name="id" readonly value= "<%= results.id %>" style="margin-left: -0.6%; margin-right: -50%;" readonly>
          </div>
    
        <div class='row'>
            <div class="form-group">
              <label for="date">Date</label>
                <div class='input-group date' id='date'>
                    <input type='text' class="form-control" name="date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-auto my-1" style="margin-left: -1.2%;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<script type="text/javascript">
let dates = <%- JSON.stringify(disabledDate) %>
    
    $(function() {
        $('#date').datetimepicker({
            disabledDates: dates
        });
        
    });
</script>
</body>
<div class="push"></div>
</div>
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <footer class="footer">
          <div class="container pt-5 border-bottom">
            <div class="row">
              <div class="col-md-3 col-sm-12 mb-3 text-center">
                <img src="https://cdn.discordapp.com/attachments/779450920932081665/887980584650018816/Logo.png" alt="Veris" width="250" height="85">
              </div>
              <div class="col-md-9 col-sm-12">
        
                <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
                  <h5 class="mb-4 font-weight-bold text-uppercase">Routes</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/index">Index</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/login/admins">Admin login</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/login/students">Student login</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/register">Student register</a></li>
                </ul>
                </div>
            </div>
          </div>
    </footer>

<script type="text/javascript" src="/js/main.js"></script>

