</main>
</body>
<footer>
    <main class="container">
    <div class="divWrap">
    <p style="text-align: center; position: absolute;">Copyright &copy; Veris AB</p>
    </div>
    </main>
    </main>
</footer>

<script type="text/javascript" src="/js/main.js"></script>