</body>
<div class="push"></div>
</div>
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <footer class="footer">
          <div class="container pt-5 border-bottom">
            <div class="row">
              <div class="col-md-3 col-sm-12 mb-3 text-center">
                <img src="https://cdn.discordapp.com/attachments/779450920932081665/887980584650018816/Logo.png" alt="Veris" width="250" height="85">
              </div>
              <div class="col-md-9 col-sm-12">
        
                <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
                  <h5 class="mb-4 font-weight-bold text-uppercase">Routes</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/index">Index</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/login/admins">Admin login</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/login/students">Student login</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/register">Student register</a></li>
                </ul>
                </div>
            </div>
          </div>
    </footer>

<script type="text/javascript" src="/js/main.js"></script>