<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header>
    <nav>
        <main class="container"></main>
            <h1 style= "letter-spacing: 5px;" id="header">Versa</h1> <a href="/register" style="text-align: right;" id="navBar">Register</a>
    </nav>
</header>
<body>
    <main class="container"> 