<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">
<div>
    <img src="https://cdn.discordapp.com/attachments/779450920932081665/887980584650018816/Logo.png" alt="Veris" width="500" height="190" id="indexImage">
    <br>
    <main class="container1">
    <a href="/login/students" id="indexButtons"><h1>Student</h1></a>
    <br> 
    <a href="/login/admins" id="indexButtons"><h1>Admin</h1></a> </div>
</main>
