<!doctype html>
<title><%= title %></title>

<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
</header>
<body>
        <nav class= "navbar navbar-dark bg-dark nav-link navbar-expand-sm">
            <a href ="/index" class="navbar-brand" style="color: #43acdd"><img src="https://cdn.discordapp.com/attachments/779450920932081665/887980584650018816/Logo.png" alt="Veris" width="150" height="50"></a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand nav-text">Admin</a>
                </li>
            </ul>
        </nav>
    <div class="wrapper">