<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">
<div>
    <h1 id="header">Veris</h1><br>
    <main class="container1">
    <a href="/login/students" id="indexButtons"><h1>Student</h1></a>
    <br> 
    <a href="/login/admins" id="indexButtons"><h1>Admin</h1></a> </div>
</main>
