<%- include("indexHeader-admins", {title: title}); %>
<form method="post" action="/index/login-admins" style="margin: auto; width: 450px;">
    <br>
    <legend>Login to website</legend>
    <div class="form-row">
            <input type="text" class="form-control"  placeholder="Username" name="username" required>
    </div>
    <br>
    <div class="form-row">
        <div class="input-group">
              <input type="password" class="form-control" placeholder="Password" name="passwordUser" required>
        </div>
    </div>
    <br>
        <div class="form-row">
            <div class="input-group">
                <input type="submit" name="doit" value="Login" class="btn btn-primary">
            </div>
        </div>

        <% if (failedLogin == true) { %>
            <p style= "color: red;">Username or password was invalid!</p>
        <% } %>
    </div>
</form>

<%- include("footer"); %>