<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header>
    <main class="container">
    <nav><a href=<%= `/students/${name}` %> id="navBar">Overview</a><a href="/student-features/book" id="navBar">Add equipment</a></nav>
    </main>
</header>
<body>
    <main class="container">